<div>
  <app-add-item (onAdd)="addItem($event)"></app-add-item>
  <div class="items-content scroll">
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action" (click)="select(item)" *ngFor="let item of itemsObservable | async"
        [ngClass]="{'active' : item.key == selectedItem?.key && !item.editMode,
                        'status-start' : !item.records || item.records.length == 0,
                        'status-process' : item.records?.length > 0 && !item.finished,
                        'status-finished' : item.finished}">
        <div *ngIf="!item.editMode">
          {{item.name}}
          <span class="badge badge-light">{{item.records?.length || 0}}</span>
        </div>
        <div *ngIf="item.editMode" class="edit-item">
          <input class="form-control" type="text" *ngIf="item.editMode" [(ngModel)]="item.name" (keyup)="onKeyUpEdit($event, item)"
          />
        </div>
        <div>
          <button class="action-button" mat-icon-button *ngIf="!item.editMode" title="edit" type="button" (click)="item.editMode = true;">
            <i class="fa fa-edit"></i>
          </button>
          <button class="action-button" mat-icon-button *ngIf="!item.editMode" title="remove" type="button" (click)="removeItem(item)">
            <i class="fa fa-close"></i>
          </button>
          <button class="edit-action-button" mat-icon-button *ngIf="item.editMode" title="save changes" type="button" (click)="finishEditItem(item)">
            <i class="fa fa-check"></i>
          </button>
          <!-- <button class="edit-action-button" mat-icon-button *ngIf="item.editMode" title="save changes" type="button" (click)="finishEditItem(item)">
            <i class="fa fa-check"></i>
          </button> -->
        </div>
      </button>
    </div>
  </div>
  <!-- <div *ngFor="let item of itemsObservable | async" class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 item">
      <div class="item-content">
        <button class="btn btn-lg btn-block btn-{{itemStatus(item)}}" *ngIf="!item.editMode" (click)="select(item)">{{item.name}}
          <span class="badge badge-light">{{item.records?.length || 0}}</span>
        </button>
        <input class="btn-block" type="text" *ngIf="item.editMode" [(ngModel)]="item.name" (keyup)="onKeyUpEdit($event, item)" />

        <div class="item-buttons">
          <button style="margin-right: 5px;" class="btn btn-lg" *ngIf="!item.editMode" title="edit" type="button" (click)="item.editMode = true;">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-lg" *ngIf="item.editMode" title="save changes" type="button" (click)="finishEditItem(item)">
            <i class="fa fa-check"></i>
          </button>
          <button style="margin-right: 5px;" class="btn btn-lg" *ngIf="!item.editMode" title="remove" type="button" (click)="removeItem(item)">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

    </div>
  </div> -->
</div>