<div>
  <div class="row">
    <div class="col-lg new-item section">
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="newItemName" (keyup)="onKeyUp($event)" class="form-control" placeholder="Add new item" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="addItem()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let item of itemsObservable | async" class="row">
    <!-- <div *ngFor="let item of items" class="row item"> -->
    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 item">
      <div class="item-content">
        <button class="btn btn-lg btn-block btn-{{itemStatus(item)}}" *ngIf="!item.editMode" (click)="select(item)">{{item.name}}
          <span class="badge badge-light">{{item.records?.length}}</span>
        </button>
        <input class="btn-block" type="text" *ngIf="item.editMode" [(ngModel)]="item.name" (keyup)="onKeyUpEdit($event, item)"/>

        <div class="item-buttons">
          <button style="margin-right: 5px;" class="btn btn-lg" *ngIf="!item.editMode" title="edit" type="button" (click)="item.editMode = true;">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-lg" *ngIf="item.editMode" title="save changes" type="button" (click)="finishEditItem(item)">
            <i class="fa fa-check"></i>
          </button>
          <button style="margin-right: 5px;" class="btn btn-lg" *ngIf="!item.editMode" title="remove" type="button" (click)="removeItem(item)">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

    </div>
    <!--
      <div class="col-lg-2 col-xs-2 col-sm-2">
        <button class="btn  btn btn-lg btn-block"
         title="remove" type="button" (click)="removeItem(item)">
          <i class="fa fa-close"></i>
        </button>
      </div> -->

  </div>
</div>