<div>
  <div class="selecteditem-header">
    <h2>
      {{selectedItem.name}}
    </h2>
    <mat-slide-toggle color="primary" [disabled]="toggleDisabled" [checked]="toggleChecked" (toggleChange)="toggleItemFinished()">Finished</mat-slide-toggle>
  </div>
  <mat-card *ngFor="let record of selectedItem.records; index as $index; trackBy:trackByFn" class="record-item">
    <mat-card-header>
      <mat-card-title class="record-title">
        {{record.assigned}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="record-content" *ngIf="!record.editMode">
        <div>{{record.comment}}</div>
        <div class="record-price">{{record.price | number}}₪</div>
      </div>
      <div *ngIf="record.editMode" class="record-content2">
        <mat-form-field>
          <textarea cols="30" matInput rows="4" [(ngModel)]="record.comment" placeholder="Comment"></textarea>
        </mat-form-field>
        <mat-form-field class="price-input">
          <input type="number" matInput [(ngModel)]="record.price" placeholder="Price" id="price-input">
          <span matSuffix>₪</span>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="record-actions">
      <ng-container *ngIf="!record.editMode">
        <button mat-stroked-button color="primary" (click)="editRecord(record)">EDIT</button>
        <button mat-flat-button color="warn" (click)="removeRecord(record, $index)">REMOVE</button>
      </ng-container>
      <ng-container *ngIf="record.editMode">
        <button mat-flat-button color="primary" (click)="saveRecord(record)">SAVE</button>
        <button mat-button (click)="cancelEdit(record)">CANCEL</button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button color="primary" *ngIf="!showNewRecordForm" (click)="showNewRecordForm = true">Add new record</button>
  <!-- ADD RECORD -->
  <mat-card *ngIf="showNewRecordForm" class="record-item">
    <mat-card-header>
      <mat-card-title class="record-title">
        {{userName}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="record-content2">
        <mat-form-field>
          <textarea cols="30" matInput rows="4" [(ngModel)]="newRecordName" placeholder="Comment"></textarea>
        </mat-form-field>
        <mat-form-field class="price-input">
          <input type="number" matInput [(ngModel)]="newRecordPrice" placeholder="Price" id="price-input">
          <span matSuffix>₪</span>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="record-actions">
      <button mat-flat-button color="primary" (click)="addRecord()">CREATE</button>
      <button mat-button (click)="cancelAddRecord()">CLOSE</button>
    </mat-card-actions>
  </mat-card>
</div>