.container{

    .section{
        padding: 10px;
    }

    .item-details{
        .item-name{
            color: red;
        }
    }


    .new-record-form{
        margin-top: 20px;
    }


    .ellipsys{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}